.orangebgcolor{
    background-color: #e8b848 ;
}
.redbgcolor{
    background-color:#e6372e ;
}
.bluebgcolor{
    background-color:#4ab3f0 ;
}
.greenbgcolor{
    background-color: #5adb89;
}

.orangecolor{
    background-color: #F3E0C8;
}
.redcolor{
    background-color: #f1cbcb;
}

.greencolor{
    background-color: #d2f3d8;
}

.bluecolor{
    background-color: #AFD6FC;
}

.forminput{
    width: 350px;
    border:none;
    border-bottom: 1px solid grey;
}